
body {
    background-image: url('../img/background3.png');
    background-repeat: repeat;
    margin:0px;
}

#sol {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/sol.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: top right;
}

#planeta {
    position:absolute;
    top:5%;
    bottom:10%;
    width:100%;
    background-image: url(../img/planeta.png);
    background-repeat: no-repeat;
    background-size: 40%;
    max-width: 800px;
}

#juego {
    width: 100%; 
    height: 100%;
    position: absolute;
}

@font-face{
    font-family: neon;
    src: url(../font/neon2.ttf) format("truetype");
}

.texto-medidor {
    display: inline-block;
    width: 50%;
    color:white;
    font-family: neon;
    font-size: 2.8vw;
    text-align:right;
    
}

#indicadores {
    position: absolute;
    width: 30%;
    height: 20px;
    box-sizing: border-box;
    margin: 30px 15px;
    z-index: 3;
    border-radius: 8px;

}

/*Los medidores a continuación se han separado para poder manejarlos independientemente con javascript*/

#medidor-fuel {
    display: inline-block;
    background-color: aqua;
    width: 48%;
    height: 120%;
    border-radius: 8px;
    float:right;
}


#medidor-vel {
    position:relative;
    display: inline-block;
    background-color: aqua;
    width: 48%;
    height: 120%;
    border-radius: 8px;
    float:right;
}

#medidor-altitud {
    position:relative;
    display: inline-block;
    background-color: aqua;

    width: 48%;
    height: 120%;
    border-radius: 8px;
    float:right;
}

#nave {
    background: url('../img/nave.png');
    position: fixed;
    width: 15%;
    height: 20%;
    left: 50%;
    margin-left: -50px;
    z-index: 2;
    background-size:contain;
    background-repeat: no-repeat;
    top:5%;
}

#luna {
    background: url('../img/moon.png') repeat-x;
    position: absolute;
    bottom: 0;
    height: 64px;
    width: 100%;
    min-width: 500px;
}

#boton {
    background: url('../img/propulsor.png');
    right: 0%;
    position: absolute;
    height: 30%;
    width: 28%;
    max-width: 150px;
    max-height: 150px;
    bottom: 0; 
    background-repeat: no-repeat;
    background-size:contain;
    right: 10px;
}

#boton h2 {
    font-family: Helvetica, Arial, Sans-Serif;
    color:#C7D541;
    font-size: 24px;
    position: absolute;
    left:0px;
    top: 20%;
    width: 100%;
    text-align: center;
}

#pause {
    background: url('../img/pause.png');
    left: 0%;
    position: absolute;
    height: 100px;
    width: 108px;
    bottom: 50px;
    left:10px;
}
