
body {
    background-image: url('../img/background3.png');
    background-repeat: repeat;
    margin:0px;
    padding: 0px;
    height: 100%;
    }

#sol {
    position: absolute;
    height: 20%;
    max-height: 40%;
    width: 100%;
    background: url(../img/sol.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}

#planeta {
    position:absolute;
    top:5%;
    bottom:10%;
    width:50%;
    background-image: url(../img/planeta.png);
    background-repeat: no-repeat;
    background-size: 40%;
    max-height: 40vw;
    background-size: contain;
}

#juego {
    width: 100%; 
    height: 100%;
    position: absolute;
}

@font-face{
    font-family: neon;
    src: url(../font/neon2.ttf) format("truetype");
}

.texto-medidor {
    display: inline-block;
    width: 25%;
    color:white;
    font-family: neon;
    font-size: calc(16px + 1.5vw);
    text-align:right;
}

.indicadores {
    position: relative;
    width: 30%;
    height: 3%;
    z-index: 3;
    margin: 1%;;
}

/*Los medidores a continuación se han separado para poder manejarlos independientemente con javascript*/

#medidor-fuel {
    display: inline-block;
    background-color: aqua;
    width: 68%;
    height: 90%;
    border-radius: 8px;
    float:right;
}


#medidor-vel {
    display: inline-block;
    background-color: aqua;
    width: 68%;
    height: 90%;
    border-radius: 8px;
    float:right;
}

#medidor-altitud {
    display: inline-block;
    background-color: aqua;
    width: 68%;
    height: 90%;
    border-radius: 8px;
    float:right;
}

#nave {
    background: url('../img/nave.png');
    position: fixed;
    height: 20%;
    width: 17%;
    left: 43%;
    z-index: 2;
    background-size:contain;
    background-repeat: no-repeat;
    top:5%;
}

#luna {
    position: absolute;
    background: url('../img/moon.png') repeat-x;
    bottom: 0%;
    height: 10%;
    width: 100%;
    background-size: contain;
}

#boton {
    background: url('../img/propulsor.png');
    position: absolute;
    height: 30%;
    width: 30%;
    max-width: 200px;
    max-height:200px;
    bottom: 0%;
    right: 5%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

#boton h2 {
    font-family: Helvetica, Arial, Sans-Serif;
    color:#C7D541;
    font-size: 3vmin;
    position: absolute;
    left:0px;
    top: 30%;
    width: 100%;
    text-align: center;

}

#pause {
    background: url('../img/pause.png');
    position: absolute;
    height: 30%;
    width: 25%;
    width: 20vw;
    height: 20vh;
    bottom: 8%;
    left: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#espacio-vacio {
    height: 10%;
}

#contenedor-pause {
    border-radius: 20px;
    height: 60%; 
    padding: 20px;
    background: rgba(50,50,50,0.8);
    width: 60%;
    left: 15%;
    top: 15%;
    position: absolute;
    z-index:5;
    display:none;
}

#boton-play {
    position:absolute;
    top:5%;
    height: 80%;
    width: 80%;
    max-width: 40vw;
    max-height: 40vh;
    background-image: url('../img/play.png');
    background-repeat: no-repeat;
    background-size: contain;
    left:20%;
    background-position: center;

}

#boton-reinicio {
    position:absolute;
    height: 30%;
    width: 28%;
    max-width: 20vw;
    max-height: 20vh;
    background-image: url('../img/reiniciar.png');
    background-repeat: no-repeat;
    background-size: contain;   
    top:70%;
    left:20%;
    background-position: center;
}

#boton-inst {
    position:absolute;
    height: 30%;
    width: 28%;
    max-width: 20vw;
    max-height: 20vh;
    background-image: url('../img/inst.png');
    background-repeat: no-repeat;
    background-size: contain;   
    top:70%;
    right: 20%; 
    background-position: center;
}

#contenedor-inst {
    position:absolute;
    border-radius: 20px;
    height: 60%;
    padding: 5%;
    background: rgba(50,50,50,0.8);
    width: 70%;
    left: 10%;
    top: 15%;
    z-index:5;
    color:white;
    overflow: hidden;
}

.instruccion img {
   height: 80%;
   vertical-align: middle;
   padding: 1%;
}

.instruccion {
    height: 18%;
}

#atras {
    background-image: url("../img/atras.png");
    background-repeat: no-repeat;
    position: fixed;
    top:5%;
    left:2%;
    height: 20%;
    width: 10%;
    background-size: contain;
}

#contenedor-cred {
    display:none;
    position:absolute;
    border-radius: 20px;
    height: 60%;
    padding: 5%;
    background: rgba(50,50,50,0.8);
    width: 70%;
    left: 10%;
    top: 15%;
    z-index:5;
    color:white;
    overflow: hidden;
    line-height: 200%;
}

a {
    font-size: 3vw;
    text-decoration: none;
}

a:link {
    color:aqua;
}

a:visited {
    color:aqua;
}

a:hover {
    color:white;
}

.der {
    text-align: right;
}
